@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "BebasBold","微軟正黑體";
  font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
  overflow-y: hidden; }

img.full360 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  -o-object-fit: cover;
     object-fit: cover; }

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

div#canvasbox {
  position: fixed;
  top: 0;
  left: 0; }

div.main_data {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
  font-size: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

div.loading {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

div.loading img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

a.logo {
  position: fixed;
  top: 0vw;
  left: 0vw; }

a.logo img {
  position: fixed; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  a.logo img {
    top: 2.3vw;
    left: 2.3vw;
    width: 20vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  a.logo img {
    top: 2.3vw;
    left: 2.3vw;
    width: 10vw; } }
  @media only screen and (orientation: portrait) {
    a.logo img {
      top: 7.5vw;
      left: 7.5vw;
      width: 33vw; } }

div.copyright {
  position: fixed;
  font-family: BebasRegular;
  text-align: center; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.copyright {
    bottom: 2.3vw;
    right: 2.3vw;
    font-size: 1.6vw;
    letter-spacing: 0.15vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.copyright {
    bottom: 2.3vw;
    right: 2.3vw;
    font-size: 0.8vw;
    letter-spacing: 0.1vw; } }
  @media only screen and (orientation: portrait) {
    div.copyright {
      bottom: 7.5vw;
      right: 7.5vw;
      font-size: 2.8vw;
      letter-spacing: 0.2vw; } }

img.layout {
  pointer-events: none;
  opacity: 0.3;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0; }
  @media only screen and (orientation: landscape) {
    img.layout {
      display: block; } }
  @media only screen and (orientation: portrait) {
    img.layout {
      display: none; } }

img.layout_mobile {
  pointer-events: none;
  opacity: 0.3;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0; }
  @media only screen and (orientation: landscape) {
    img.layout_mobile {
      display: none; } }
  @media only screen and (orientation: portrait) {
    img.layout_mobile {
      display: block; } }

div.alertData {
  position: absolute;
  background-color: #fff;
  width: 30vw;
  height: 10vw;
  top: 0vw;
  left: 0vw; }

@font-face {
  font-family: 'BebasRegular';
  font-weight: normal;
  src: url("../fonts/BebasRegular.woff") format("woff"); }

@font-face {
  font-family: 'BebasBold';
  font-weight: normal;
  src: url("../fonts/BebasBold.woff") format("woff"); }

@font-face {
  font-family: 'NotoSansTC';
  font-weight: normal;
  src: url("https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff") format("woff"); }
