@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "BebasBold","微軟正黑體";
  font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
  overflow-y: hidden; }

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

div#canvasbox {
  position: fixed;
  top: 0;
  left: 0; }

div.message {
  display: none;
  position: fixed;
  background-color: #fff;
  vertical-align: middle; }
  @media only screen and (orientation: landscape) {
    div.message {
      left: 0;
      right: 0;
      top: 6.6vw;
      margin: auto;
      width: 26vw;
      height: 7vw;
      border-radius: 1.5vw;
      border: solid 0.5vw #cccccc; } }
  @media only screen and (orientation: portrait) {
    div.message {
      left: 0;
      right: 0;
      top: 20vw;
      margin: auto;
      width: 82vw;
      height: 22vw;
      border-radius: 4.5vw;
      border: solid 1.5vw #cccccc; } }

p.message {
  position: absolute;
  vertical-align: middle; }
  @media only screen and (orientation: landscape) {
    p.message {
      height: 2vw;
      left: 2.5vw;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 2vw; } }
  @media only screen and (orientation: portrait) {
    p.message {
      height: 6vw;
      left: 7.5vw;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 6vw; } }

img.outlink {
  position: absolute;
  cursor: pointer;
  vertical-align: middle; }
  @media only screen and (orientation: landscape) {
    img.outlink {
      width: 2.5vw;
      right: 2.5vw;
      top: 0;
      bottom: 0;
      margin: auto; } }
  @media only screen and (orientation: portrait) {
    img.outlink {
      width: 7.5vw;
      right: 7.5vw;
      top: 0;
      bottom: 0;
      margin: auto; } }

div.carbtn {
  position: fixed;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.carbtn {
    left: 0;
    right: 0;
    bottom: 5vw;
    margin: auto;
    width: 10vw;
    height: 6vw;
    border-radius: 0.8vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.carbtn {
    left: 0;
    right: 0;
    bottom: 4.5vw;
    margin: auto;
    width: 6vw;
    height: 3.6vw;
    border-radius: 0.8vw; } }
  @media only screen and (orientation: portrait) {
    div.carbtn {
      left: 0;
      right: 0;
      bottom: 14.5vw;
      margin: auto;
      width: 17vw;
      height: 10vw;
      border-radius: 2.4vw; } }

img.incar {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media only screen and (orientation: landscape) {
    img.incar {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; } }
  @media only screen and (orientation: landscape) and (max-width: 1000px) {
    img.incar {
      width: 6.8vw; } }
  @media only screen and (orientation: landscape) and (min-width: 1000px) {
    img.incar {
      width: 4vw; } }
  @media only screen and (orientation: portrait) {
    img.incar {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 12vw; } }

img.outcar {
  position: absolute;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media only screen and (orientation: landscape) {
    img.outcar {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; } }
  @media only screen and (orientation: landscape) and (max-width: 1000px) {
    img.outcar {
      width: 6.8vw; } }
  @media only screen and (orientation: landscape) and (min-width: 1000px) {
    img.outcar {
      width: 4vw; } }
  @media only screen and (orientation: portrait) {
    img.outcar {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 12vw; } }

div.loading {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

div.loading img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

a.logo {
  position: fixed;
  top: 0vw;
  left: 0vw; }

a.logo img {
  position: fixed; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  a.logo img {
    top: 2.3vw;
    left: 2.3vw;
    width: 20vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  a.logo img {
    top: 2.3vw;
    left: 2.3vw;
    width: 10vw; } }
  @media only screen and (orientation: portrait) {
    a.logo img {
      top: 7.5vw;
      left: 7.5vw;
      width: 33vw; } }

div.nav {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100svh;
  background-color: #fff;
  text-align: center;
  font-family: BebasBold; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.nav {
    font-size: 12svh; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.nav {
    font-size: 6svh; } }
  @media only screen and (orientation: portrait) {
    div.nav {
      font-size: 7svh; } }

@media only screen and (orientation: landscape) {
  div.nav div {
    position: relative;
    vertical-align: middle; } }
  @media only screen and (orientation: landscape) and (max-width: 1000px) {
    div.nav div {
      top: 18svh;
      margin-top: 0svh; } }
  @media only screen and (orientation: landscape) and (min-width: 1000px) {
    div.nav div {
      top: 30svh;
      margin-top: 0svh; } }

@media only screen and (orientation: portrait) {
  div.nav div {
    position: relative;
    top: 17svh;
    margin-top: 1.5svh;
    vertical-align: middle; } }

div.nav div a {
  font-family: BebasBold;
  text-decoration: none;
  color: #000000; }

div.nav div.emailbtn {
  position: absolute;
  top: auto; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.nav div.emailbtn {
    left: 0;
    right: 0;
    bottom: 12vh;
    margin: auto;
    height: 8.4svh;
    font-size: 7svh; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.nav div.emailbtn {
    left: 0;
    right: 0;
    bottom: 18vh;
    margin: auto;
    height: 4.2svh;
    font-size: 3.5svh; } }
  @media only screen and (orientation: portrait) {
    div.nav div.emailbtn {
      left: 0;
      right: 0;
      bottom: 16vh;
      margin: auto;
      height: 4.2svh;
      font-size: 3.5svh; } }

div.emailbtn img {
  vertical-align: middle; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.emailbtn img {
    height: 9svh; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.emailbtn img {
    height: 4.5svh; } }
  @media only screen and (orientation: portrait) {
    div.emailbtn img {
      height: 6svh; } }

div.emailbtn a {
  font-family: BebasRegular;
  text-decoration: none;
  color: #000000; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.emailbtn a {
    margin-left: 1.2vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.emailbtn a {
    margin-left: 0.5vw; } }
  @media only screen and (orientation: portrait) {
    div.emailbtn a {
      margin-left: 1vw; } }

div.navbtn {
  position: fixed;
  top: 0;
  right: 0; }

div.navbtn img {
  position: absolute;
  cursor: pointer; }
  @media only screen and (orientation: landscape) {
    div.navbtn img {
      top: 2.3vw;
      right: 2.3vw; } }
  @media only screen and (orientation: landscape) and (max-width: 1000px) {
    div.navbtn img {
      width: 5.1vw; } }
  @media only screen and (orientation: landscape) and (min-width: 1000px) {
    div.navbtn img {
      width: 2.55vw; } }
  @media only screen and (orientation: portrait) {
    div.navbtn img {
      top: 7.5vw;
      right: 7.5vw;
      width: 8.8vw; } }

img.close {
  display: none; }

img.back {
  display: none; }

img.menu {
  display: block; }

div.copyright {
  position: fixed;
  font-family: BebasRegular;
  text-align: center; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.copyright {
    bottom: 2.3vw;
    right: 2.3vw;
    font-size: 1.6vw;
    letter-spacing: 0.15vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.copyright {
    bottom: 2.3vw;
    right: 2.3vw;
    font-size: 0.8vw;
    letter-spacing: 0.1vw; } }
  @media only screen and (orientation: portrait) {
    div.copyright {
      bottom: 7.5vw;
      right: 7.5vw;
      font-size: 2.8vw;
      letter-spacing: 0.2vw; } }

img.layout {
  pointer-events: none;
  opacity: 0.3;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0; }
  @media only screen and (orientation: landscape) {
    img.layout {
      display: block; } }
  @media only screen and (orientation: portrait) {
    img.layout {
      display: none; } }

img.layout_mobile {
  pointer-events: none;
  opacity: 0.3;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0; }
  @media only screen and (orientation: landscape) {
    img.layout_mobile {
      display: none; } }
  @media only screen and (orientation: portrait) {
    img.layout_mobile {
      display: block; } }

div.filter {
  display: none;
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 100svh; }

div.filterBtns {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.filterBtns {
    width: 84svh;
    height: 60svh; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.filterBtns {
    width: 66svh;
    height: 50svh; } }
  @media only screen and (orientation: portrait) {
    div.filterBtns {
      width: 84vw;
      height: 50svh; } }

div.filterBtn {
  position: relative;
  float: left;
  cursor: pointer; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.filterBtn {
    font-size: 8svh;
    width: 37svh;
    height: 10svh;
    margin-left: 4svh; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.filterBtn {
    font-size: 5.5svh;
    width: 30svh;
    height: 8.2svh;
    margin-left: 3svh; } }
  @media only screen and (orientation: portrait) {
    div.filterBtn {
      font-size: 8vw;
      width: 34.5vw;
      height: 12vw;
      margin-left: 6vw; } }

div.filterLine {
  position: relative;
  float: left; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.filterLine {
    font-size: 8svh;
    width: 37svh;
    height: 10svh;
    margin-left: 4svh; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.filterLine {
    font-size: 5.5svh;
    width: 30svh;
    height: 8.2svh;
    margin-left: 3svh; } }
  @media only screen and (orientation: portrait) {
    div.filterLine {
      font-size: 8vw;
      width: 34.5vw;
      height: 12vw;
      margin-left: 6vw; } }

div.line {
  background-color: #999;
  position: absolute; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.line {
    width: 30svh;
    height: 0.1svh;
    top: 5svh; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.line {
    width: 21svh;
    height: 0.1svh;
    top: 3svh; } }
  @media only screen and (orientation: portrait) {
    div.line {
      width: 30vw;
      height: 0.1vw;
      top: 5vw; } }

div.works {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: auto;
  min-height: 100svh; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.works {
    padding-bottom: 25vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.works {
    padding-bottom: 15vw; } }
  @media only screen and (orientation: portrait) {
    div.works {
      padding-bottom: 50vw; } }

div.scroll {
  position: fixed;
  font-family: BebasRegular;
  text-align: center;
  bottom: 2.3vw;
  left: 2.3vw; }
  @media (max-width: 1000px) {
    div.scroll {
      font-size: 2vw;
      line-height: 3vw; } }
  @media (min-width: 1000px) {
    div.scroll {
      font-size: 1vw;
      line-height: 1.5vw; } }
  @media only screen and (orientation: landscape) {
    div.scroll {
      display: block; } }
  @media only screen and (orientation: portrait) {
    div.scroll {
      display: none; } }

@media (max-width: 1000px) {
  div.scroll img {
    width: 5vw; } }

@media (min-width: 1000px) {
  div.scroll img {
    width: 2.5vw; } }

div.filterkeywords {
  position: relative;
  left: 0;
  right: 0;
  margin: auto; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.filterkeywords {
    top: 12vw;
    width: 67.2vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.filterkeywords {
    top: 6.7vw;
    width: 67.2vw; } }
  @media only screen and (orientation: portrait) {
    div.filterkeywords {
      top: 26vw;
      width: 85vw; } }

div.filterkeywords p {
  font-family: BebasBold; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.filterkeywords p {
    font-size: 6vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.filterkeywords p {
    font-size: 3.1vw; } }
  @media only screen and (orientation: portrait) {
    div.filterkeywords p {
      font-size: 10vw; } }

img.filter {
  position: absolute;
  cursor: pointer; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  img.filter {
    top: 0.3vw;
    right: 1vw;
    width: 5.4vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  img.filter {
    top: 0.3vw;
    right: 1vw;
    width: 2.7vw; } }
  @media only screen and (orientation: portrait) {
    img.filter {
      top: 2vw;
      right: 0;
      width: 8vw; } }

div.worklist {
  position: relative;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: auto;
  height: auto; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.worklist {
    top: 12vw;
    width: 67.2vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.worklist {
    top: 6.7vw;
    width: 67.2vw; } }
  @media only screen and (orientation: portrait) {
    div.worklist {
      top: 26vw;
      width: 90vw; } }

div.workbtn {
  position: relative;
  float: left;
  height: auto; }
  @media only screen and (orientation: landscape) {
    div.workbtn {
      width: 21.2vw;
      margin-top: 1.3vw;
      margin-right: 1.2vw; } }
  @media only screen and (orientation: portrait) {
    div.workbtn {
      left: 2.7vw;
      width: 41.5vw;
      margin-top: 4vw;
      margin-right: 1.8vw; } }

img.workbanner {
  width: 100%; }

p.workname {
  float: left;
  font-family: BebasRegular; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  p.workname {
    margin-top: 0.8vw;
    font-size: 1.5vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  p.workname {
    margin-top: 0.4vw;
    font-size: 1.1vw; } }
  @media only screen and (orientation: portrait) {
    p.workname {
      margin-top: 1.2vw;
      font-size: 3vw; } }

img.arrow_right {
  float: right; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  img.arrow_right {
    margin-top: 0.6vw;
    width: 1.8vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  img.arrow_right {
    margin-top: 0.5vw;
    width: 1.2vw; } }
  @media only screen and (orientation: portrait) {
    img.arrow_right {
      margin-top: 1.3vw;
      width: 3.6vw; } }

@media only screen and (orientation: landscape) {
  div.topbar {
    display: none; } }

@media only screen and (orientation: portrait) {
  div.topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 22vw;
    background-color: #fff; } }

@media only screen and (orientation: landscape) {
  div.bottombar {
    display: none; } }

@media only screen and (orientation: portrait) {
  div.bottombar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vw;
    background-color: #fff; } }

div.work {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 100svh; }

div.workscope {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }
  @media only screen and (orientation: landscape) {
    div.workscope {
      width: 68.5vw;
      height: 29.7vw; } }
  @media only screen and (orientation: portrait) {
    div.workscope {
      width: 85vw;
      height: 94vw; } }

div.workdata {
  float: left; }
  @media only screen and (orientation: landscape) {
    div.workdata {
      position: relative;
      top: 0vw;
      left: 0vw;
      width: 14.5vw;
      height: 29.7vw;
      margin-right: 1.2vw; } }
  @media only screen and (orientation: portrait) {
    div.workdata {
      position: absolute;
      top: 59vw;
      left: 0vw;
      width: 85vw;
      height: 35vw; } }

div.workdatascope {
  position: absolute; }
  @media only screen and (orientation: landscape) {
    div.workdatascope {
      bottom: 0vw;
      right: 0vw; } }
  @media only screen and (orientation: portrait) {
    div.workdatascope {
      top: 0vw;
      left: 0vw; } }

div.year {
  position: relative;
  font-family: BebasBold; }
  @media only screen and (orientation: landscape) {
    div.year {
      text-align: right; } }
  @media only screen and (orientation: landscape) and (max-width: 1000px) {
    div.year {
      font-size: 3vw; } }
  @media only screen and (orientation: landscape) and (min-width: 1000px) {
    div.year {
      font-size: 1.5vw; } }
  @media only screen and (orientation: portrait) {
    div.year {
      text-align: left;
      font-size: 5vw;
      margin-bottom: 1.5vw; } }

div.workname {
  position: relative;
  font-family: BebasBold; }
  @media only screen and (orientation: landscape) {
    div.workname {
      text-align: right;
      font-size: 3vw;
      line-height: 2.9vw; } }
  @media only screen and (orientation: portrait) {
    div.workname {
      text-align: left;
      font-size: 9.8vw;
      line-height: 9.8vw; } }

div.workkeywords {
  position: relative;
  font-family: BebasRegular; }
  @media only screen and (orientation: landscape) {
    div.workkeywords {
      text-align: right; } }
  @media only screen and (orientation: landscape) and (max-width: 1000px) {
    div.workkeywords {
      margin-top: 0.2vw;
      font-size: 1.8vw;
      line-height: 2.2vw; } }
  @media only screen and (orientation: landscape) and (min-width: 1000px) {
    div.workkeywords {
      margin-top: 0.1vw;
      font-size: 0.9vw;
      line-height: 1.1vw; } }
  @media only screen and (orientation: portrait) {
    div.workkeywords {
      margin-top: 1.8vw;
      font-size: 4.5vw;
      line-height: 5vw;
      text-align: left; } }

div.workgallerycope {
  font-size: 0;
  float: left;
  overflow: hidden; }
  @media only screen and (orientation: landscape) {
    div.workgallerycope {
      position: relative;
      top: 0vw;
      left: 0vw;
      width: 52.7vw;
      height: 29.7vw; } }
  @media only screen and (orientation: portrait) {
    div.workgallerycope {
      position: absolute;
      top: 6vw;
      left: 0vw;
      width: 85vw;
      height: 47.8vw; } }

div.workgallery {
  font-size: 0;
  float: left; }
  @media only screen and (orientation: landscape) {
    div.workgallery {
      position: relative;
      width: 1000vw;
      height: 29.7vw; } }
  @media only screen and (orientation: portrait) {
    div.workgallery {
      position: absolute;
      width: 1600vw;
      height: 47.8vw; } }

div.galleryimg {
  float: left; }
  @media only screen and (orientation: landscape) {
    div.galleryimg {
      width: 52.7vw;
      height: 100%; } }
  @media only screen and (orientation: portrait) {
    div.galleryimg {
      width: 85vw;
      height: 100%; } }

img.gimg {
  position: absolute;
  margin: 0; }
  @media only screen and (orientation: landscape) {
    img.gimg {
      width: 52.7vw;
      height: 100%; } }
  @media only screen and (orientation: portrait) {
    img.gimg {
      width: 85vw;
      height: 100%; } }

div.prevBtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%; }

div.nextBtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%; }

div.gallerybtn {
  float: right;
  width: auto;
  height: 2vw; }
  @media only screen and (orientation: landscape) {
    div.gallerybtn {
      position: relative;
      top: 0vw;
      left: 0vw; } }
  @media only screen and (orientation: portrait) {
    div.gallerybtn {
      position: absolute;
      top: 0vw;
      right: 0vw; } }

div.gbtn {
  position: relative;
  float: left;
  right: 0;
  cursor: pointer; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.gbtn {
    width: 0.8vw;
    height: 0.8vw;
    top: 0.8vw;
    border-radius: 10vw;
    margin-left: 0.46vw;
    margin-right: 0.2vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.gbtn {
    width: 0.4vw;
    height: 0.4vw;
    top: 0.8vw;
    border-radius: 10vw;
    margin-left: 0.23vw;
    margin-right: 0.1vw; } }
  @media only screen and (orientation: portrait) {
    div.gbtn {
      width: 1.3vw;
      height: 1.3vw;
      top: 0vw;
      border-radius: 10vw;
      margin-left: 1.5vw;
      margin-right: 0vw; } }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.off {
    border: solid 0.6vw #CCCCCC; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.off {
    border: solid 0.3vw #CCCCCC; } }

@media only screen and (orientation: portrait) {
  div.off {
    border: solid 1vw #CCCCCC; } }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.on {
    border: solid 0.6vw #f5b331; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.on {
    border: solid 0.3vw #f5b331; } }

@media only screen and (orientation: portrait) {
  div.on {
    border: solid 1vw #f5b331; } }

div.car_control {
  display: none;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100svw;
  height: 100svh; }

div.steering_wheel {
  position: absolute;
  width: 0;
  height: 0; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.steering_wheel {
    bottom: 21vw;
    left: 7.8vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.steering_wheel {
    bottom: 12.8vw;
    left: 6.5vw; } }
  @media only screen and (orientation: portrait) {
    div.steering_wheel {
      bottom: 41.5vw;
      left: 21vw; } }

div.steering_wheel img {
  position: absolute; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.steering_wheel img {
    width: 12vw;
    top: 0vw;
    left: -3vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.steering_wheel img {
    width: 6vw;
    top: 0vw;
    left: -3vw; } }
  @media only screen and (orientation: portrait) {
    div.steering_wheel img {
      width: 20vw;
      top: 0vw;
      left: -10vw; } }

div.left_right_controller {
  position: absolute; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.left_right_controller {
    width: 16.8vw;
    height: 6.4vw;
    bottom: 5vw;
    left: 2.3vw;
    border-radius: 0.8vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.left_right_controller {
    width: 8.4vw;
    height: 3.2vw;
    bottom: 4.5vw;
    left: 2.3vw;
    border-radius: 0.4vw; } }
  @media only screen and (orientation: portrait) {
    div.left_right_controller {
      width: 26vw;
      height: 10vw;
      bottom: 14.5vw;
      left: 7.5vw;
      border-radius: 2vw; } }

div.left_right_bg {
  position: absolute;
  background-color: #fff;
  opacity: 0.36; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.left_right_bg {
    width: 16.8vw;
    height: 6.4vw;
    bottom: 0vw;
    left: 0vw;
    border-radius: 0.8vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.left_right_bg {
    width: 8.4vw;
    height: 3.2vw;
    bottom: 0vw;
    left: 0vw;
    border-radius: 0.4vw; } }
  @media only screen and (orientation: portrait) {
    div.left_right_bg {
      width: 26vw;
      height: 10vw;
      bottom: 0vw;
      left: 0vw;
      border-radius: 2vw; } }

div.left_right_btn {
  position: absolute;
  pointer-events: auto;
  background-color: #fff; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.left_right_btn {
    width: 12vw;
    height: 6.4vw;
    top: 0vw;
    left: 0vw;
    border-radius: 0.8vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.left_right_btn {
    width: 6vw;
    height: 3.2vw;
    top: 0vw;
    left: 0vw;
    border-radius: 0.4vw; } }
  @media only screen and (orientation: portrait) {
    div.left_right_btn {
      width: 19vw;
      height: 10vw;
      top: 0vw;
      left: 0vw;
      border-radius: 2vw; } }

p.left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  p.left {
    width: 5.6vw;
    height: 6.4vw;
    bottom: 0vw;
    left: 0vw;
    font-size: 2.4vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  p.left {
    width: 2.8vw;
    height: 3.2vw;
    bottom: 0vw;
    left: 0vw;
    font-size: 1.2vw; } }
  @media only screen and (orientation: portrait) {
    p.left {
      width: 8vw;
      height: 10vw;
      bottom: 0vw;
      left: 0vw;
      font-size: 3.6vw; } }

p.right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  p.right {
    width: 5.6vw;
    height: 6.4vw;
    bottom: 0vw;
    right: 0vw;
    font-size: 2.4vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  p.right {
    width: 2.8vw;
    height: 3.2vw;
    bottom: 0vw;
    right: 0vw;
    font-size: 1.2vw; } }
  @media only screen and (orientation: portrait) {
    p.right {
      width: 8vw;
      height: 10vw;
      bottom: 0vw;
      right: 0vw;
      font-size: 3.6vw; } }

div.front_back_controller {
  position: absolute;
  pointer-events: auto; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.front_back_controller {
    width: 6.4vw;
    height: 16.8vw;
    bottom: 5vw;
    right: 2.3vw;
    border-radius: 0.8vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.front_back_controller {
    width: 3.2vw;
    height: 8.4vw;
    bottom: 4.5vw;
    right: 2.3vw;
    border-radius: 0.4vw; } }
  @media only screen and (orientation: portrait) {
    div.front_back_controller {
      width: 10vw;
      height: 27vw;
      bottom: 14.5vw;
      right: 7.5vw;
      border-radius: 2vw; } }

div.front_back_bg {
  position: absolute;
  background-color: #fff;
  opacity: 0.36; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.front_back_bg {
    width: 6.4vw;
    height: 16.8vw;
    bottom: 0vw;
    right: 0vw;
    border-radius: 0.8vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.front_back_bg {
    width: 3.2vw;
    height: 8.4vw;
    bottom: 0vw;
    right: 0vw;
    border-radius: 0.4vw; } }
  @media only screen and (orientation: portrait) {
    div.front_back_bg {
      width: 10vw;
      height: 27vw;
      bottom: 0vw;
      right: 0vw;
      border-radius: 2vw; } }

div.front_back_btn {
  position: absolute;
  background-color: #fff; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.front_back_btn {
    width: 6.4vw;
    height: 12vw;
    top: 0vw;
    left: 0vw;
    border-radius: 0.8vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.front_back_btn {
    width: 3.2vw;
    height: 6vw;
    top: 0vw;
    left: 0vw;
    border-radius: 0.4vw; } }
  @media only screen and (orientation: portrait) {
    div.front_back_btn {
      width: 10vw;
      height: 20vw;
      top: 0vw;
      left: 0vw;
      border-radius: 2vw; } }

p.front {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  p.front {
    width: 6.4vw;
    height: 6.4vw;
    top: 0vw;
    left: 0vw;
    font-size: 2.4vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  p.front {
    width: 3.2vw;
    height: 3.2vw;
    top: 0vw;
    left: 0vw;
    font-size: 1.2vw; } }
  @media only screen and (orientation: portrait) {
    p.front {
      width: 10vw;
      height: 10vw;
      top: 0vw;
      left: 0vw;
      font-size: 3.6vw; } }

p.back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  p.back {
    width: 6.4vw;
    height: 6.4vw;
    bottom: 0vw;
    left: 0vw;
    font-size: 2.4vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  p.back {
    width: 3.2vw;
    height: 3.2vw;
    bottom: 0vw;
    left: 0vw;
    font-size: 1.2vw; } }
  @media only screen and (orientation: portrait) {
    p.back {
      width: 10vw;
      height: 10vw;
      bottom: 0vw;
      left: 0vw;
      font-size: 3.6vw; } }

div.stop_btn {
  position: absolute;
  pointer-events: auto; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.stop_btn {
    width: 10.2vw;
    height: 7.2vw;
    bottom: 5vw;
    right: 10vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.stop_btn {
    width: 5.1vw;
    height: 3.6vw;
    bottom: 4.5vw;
    right: 6.3vw; } }
  @media only screen and (orientation: portrait) {
    div.stop_btn {
      width: 16.5vw;
      height: 11.5vw;
      bottom: 14.5vw;
      right: 20vw; } }

div.stop_btn img {
  position: absolute; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.stop_btn img {
    width: 10.2vw;
    height: 7.2vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.stop_btn img {
    width: 5.1vw;
    height: 3.6vw; } }
  @media only screen and (orientation: portrait) {
    div.stop_btn img {
      width: 16.5vw;
      height: 11.5vw; } }

div.stop_btn p {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.stop_btn p {
    width: 10.2vw;
    height: 7.2vw;
    font-size: 1.8vw;
    letter-spacing: 0.36vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.stop_btn p {
    width: 5.1vw;
    height: 3.6vw;
    font-size: 0.9vw;
    letter-spacing: 0.18vw; } }
  @media only screen and (orientation: portrait) {
    div.stop_btn p {
      width: 16.5vw;
      height: 11.5vw;
      font-size: 3vw;
      letter-spacing: 0.5vw; } }

div.qmimi_control {
  position: fixed;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 0;
  right: 0;
  width: 100svw;
  height: 100svh; }

div.qmimi_control_left {
  position: absolute;
  pointer-events: auto;
  bottom: 0vw;
  left: 0vw; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.qmimi_control_left {
    width: 24vw;
    height: 24vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.qmimi_control_left {
    width: 16vw;
    height: 16vw; } }
  @media only screen and (orientation: portrait) {
    div.qmimi_control_left {
      width: 42vw;
      height: 42vw; } }

div.qmimi_move_background {
  position: fixed;
  display: none;
  background-color: #fff;
  opacity: 0.3;
  bottom: 0vw;
  left: 0vw; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.qmimi_move_background {
    width: 24vw;
    height: 24vw;
    border-radius: 7vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.qmimi_move_background {
    width: 16vw;
    height: 16vw;
    border-radius: 4.2vw; } }
  @media only screen and (orientation: portrait) {
    div.qmimi_move_background {
      width: 42vw;
      height: 42vw;
      border-radius: 13.5vw; } }

div#draggable {
  cursor: move;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

div.qmimi_move {
  position: absolute;
  bottom: 0vw;
  left: 0vw; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.qmimi_move {
    width: 14vw;
    height: 14vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.qmimi_move {
    width: 8.4vw;
    height: 8.4vw; } }
  @media only screen and (orientation: portrait) {
    div.qmimi_move {
      width: 27vw;
      height: 27vw; } }

div.qmimi_move img {
  position: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.qmimi_move img {
    width: 14vw;
    height: 14vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.qmimi_move img {
    width: 8.4vw;
    height: 8.4vw; } }
  @media only screen and (orientation: portrait) {
    div.qmimi_move img {
      width: 27vw;
      height: 27vw; } }

div.qmimi_move p {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.qmimi_move p {
    width: 4vw;
    height: 4vw;
    font-size: 2.4vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.qmimi_move p {
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw; } }
  @media only screen and (orientation: portrait) {
    div.qmimi_move p {
      width: 7vw;
      height: 7vw;
      font-size: 3.6vw; } }

p.front_word {
  left: 0;
  right: 0;
  top: 0vw;
  margin: auto; }

p.left_word {
  left: 0vw;
  top: 0;
  bottom: 0;
  margin: auto; }

p.back_word {
  left: 0;
  right: 0;
  bottom: 0vw;
  margin: auto; }

p.right_word {
  right: 0vw;
  top: 0;
  bottom: 0;
  margin: auto; }

div.qmimi_consstrol_right {
  position: absolute;
  pointer-events: auto; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.qmimi_consstrol_right {
    bottom: 5vw;
    right: 2.3vw;
    width: 14.28vw;
    height: 6.12vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.qmimi_consstrol_right {
    bottom: 4.8vw;
    right: 2.3vw;
    width: 8.4vw;
    height: 3.6vw; } }
  @media only screen and (orientation: portrait) {
    div.qmimi_consstrol_right {
      bottom: 14vw;
      right: 7.5vw;
      width: 27vw;
      height: 12vw; } }

div.jump_btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #fff; }

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  div.jump_btn {
    width: 14.28vw;
    height: 6.12vw;
    border-radius: 1.2vw;
    font-size: 2.04vw;
    letter-spacing: 0.34vw; } }

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  div.jump_btn {
    width: 8.4vw;
    height: 3.6vw;
    border-radius: 0.8vw;
    font-size: 1.2vw;
    letter-spacing: 0.2vw; } }
  @media only screen and (orientation: portrait) {
    div.jump_btn {
      width: 27vw;
      height: 12vw;
      border-radius: 2.4vw;
      font-size: 3.6vw;
      letter-spacing: 0.6vw; } }

div.alertData {
  position: absolute;
  background-color: #fff;
  width: 30vw;
  height: 10vw;
  top: 0vw;
  left: 0vw; }

.svgon {
  fill: #fff; }

.svgoff {
  fill: #999; }

.bgon {
  background-color: #fff; }

.bgoff {
  background-color: #999; }

@font-face {
  font-family: 'BebasRegular';
  font-weight: normal;
  src: url("../fonts/BebasRegular.woff") format("woff"); }

@font-face {
  font-family: 'BebasBold';
  font-weight: normal;
  src: url("../fonts/BebasBold.woff") format("woff"); }

@font-face {
  font-family: 'NotoSansTC';
  font-weight: normal;
  src: url("https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff") format("woff"); }
